Package: mnscmodule-dev
Source: mnscmodule
Version: 0.0.1~rc1.18.04~20201231084003.gbp3acb88
Architecture: amd64
Maintainer: Maintainer Name <maintainer.name@example.com>
Installed-Size: 33
Depends: mnscmodule (= 0.0.1~rc1.18.04~20201231084003.gbp3acb88), kms-core-dev, kms-elements-dev, kms-filters-dev, libopencv-dev
Section: libdevel
Priority: optional
Homepage: https://www.example.com
Description: Single line synopsis
 Extended description over several lines - Development files.
