Package: mnscmixer-dbgsym
Package-Type: ddeb
Source: mnscmixer
Version: 0.0.1~rc1.18.04~20210112195349.gbp5cc105
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Maintainer Name <maintainer.name@example.com>
Installed-Size: 402
Depends: mnscmixer (= 0.0.1~rc1.18.04~20210112195349.gbp5cc105)
Section: debug
Priority: optional
Description: debug symbols for mnscmixer
Build-Ids: bca2422ad3bbe9cfc6c4761db3eb8f9e0ee339f8 c0aed2cb8f97c4d38e50e49d5725c4cdadb5d101 da8f87a1e2c2dd8d676124495a0c0b19db40deaf
