Package: mnscmodule-dbgsym
Package-Type: ddeb
Source: mnscmodule
Version: 0.0.1~rc1.18.04~20201231084003.gbp3acb88
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Maintainer Name <maintainer.name@example.com>
Installed-Size: 525
Depends: mnscmodule (= 0.0.1~rc1.18.04~20201231084003.gbp3acb88)
Section: debug
Priority: optional
Description: debug symbols for mnscmodule
Build-Ids: 110f0c9f27c94307fdf481bb1778aafa90cfd3eb 62af356d668ac494ee16f97f2d0fb19b721419c2 d59593cacb53420aa4b5223d62f509896ff5c2bc
