Package: mnscmixer-dev
Source: mnscmixer
Version: 0.0.1~rc1.18.04~20210114153309.gbpbd1a5a
Architecture: amd64
Maintainer: Maintainer Name <maintainer.name@example.com>
Installed-Size: 33
Depends: mnscmixer (= 0.0.1~rc1.18.04~20210114153309.gbpbd1a5a), kms-core-dev, kms-elements-dev, kms-filters-dev, libopencv-dev
Section: libdevel
Priority: optional
Homepage: https://www.example.com
Description: Single line synopsis
 Extended description over several lines - Development files.
